<!DOCTYPE html>
<html>
  <head>
    <% include('../partials/header.ejs') %>
  </head>

  <body>
    <% include('../partials/nav.ejs') %>

    <div class="container">
      <h2>Table Dots</h2>

    <table>
      <tr>
	<th>Book</th> <th>Witness</th>  <th>Ones</th>  <th>Verses</th>
      </tr>
      <h3>
	<% results %>
      </h3>

      <% results.forEach(function(r) { %>
	 <tr>
	   <td><%= r.book %></td>
	   <td><%= r.witness %></td>
	   <td><%= r.ones %></td>
	   <td><%= r.verses %></td>
	 </tr>
	 <% }); %>

    </table>


    </div>
  </body>
</html>
