<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/">
      <img src="/theot_1.png">
    </a>
    <h1>No kidding, Theot is mostly pretty great.</h1>
  </div> <!-- row -->
</div>


</body>
</html>
